<div class="nav-menu p-3">
    <h6 class="nav-section-title text-uppercase fw-bold mt-2 mb-2">General</h6>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link py-1" href="" Match="NavLinkMatch.All"
                     @onclick="() => OnNavigate.InvokeAsync()">
                Overview
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link py-1" href="getting-started"
                     @onclick="() => OnNavigate.InvokeAsync()">
                Getting Started
            </NavLink>
        </li>
    </ul>

    <h6 class="nav-section-title text-uppercase fw-bold mt-3 mb-2">Services</h6>
    <ul class="nav flex-column">
        @foreach (var svc in ServiceDefinitions.All)
        {
            <li class="nav-item">
                <NavLink class="nav-link py-1" href="@svc.Href"
                         @onclick="() => OnNavigate.InvokeAsync()">
                    @svc.Title
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter] public EventCallback OnNavigate { get; set; }
}
