<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/HerePlatform.Demo/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/HerePlatform.Demo/app.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BlazorHerePlatform/js/objectManager.js"></script>
</body>

</html>
